<article class="post">
	<header class="post-header">
		<h2 class="post-header-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
		<div class="post-header-meta">
			<div class="post-header-meta-date"><i class="far fa-calendar-alt"></i> {% include date.html date=post.date %}</div>
		</div>
	</header>
	<main class="post-content">
		<a class="post-content-img" href="{{ site.baseurl }}{{ post.url }}">
			<img class="img-responsive lazy" src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" data-src="{{ site.baseurl }}{{ post.img }}" alt="{{ post.title }}">
		</a>
		<p class="post-content-text">{{ post.description }}</p>
		<a class="post-content-link" href="{{ site.baseurl }}{{ post.url }}">Продолжить читать...</a>
	</main>
</article>