{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<button class="pagination-prev pagination-btn"><a href="{{ paginator.previous_page_path | relative_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg></a></button>
		{% else %}
			<button class="pagination-prev pagination-btn"><a><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg></a></button>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<button class="pagination-number pagination-btn"><a>{{ page }}</a></button>
			{% elsif page == 1 %}
				<button class="pagination-number pagination-btn"><a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a></button>
			{% else %}
				<button class="pagination-number pagination-btn"><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></button>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
			<button class="pagination-next pagination-btn"><a href="{{ paginator.next_page_path | relative_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg></a></button>
		{% else %}
			<button class="pagination-next pagination-btn"><a><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg></a></button>
		{% endif %}
	</div>
{% endif %}