/* ubuntu-300 - latin_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		url('../fonts/ubuntu-v15-latin_cyrillic-300.woff2') format('woff2'),
		url('../fonts/ubuntu-v15-latin_cyrillic-300.woff') format('woff');
}

/* ubuntu-regular - latin_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/ubuntu-v15-latin_cyrillic-regular.woff2') format('woff2'),
		url('../fonts/ubuntu-v15-latin_cyrillic-regular.woff') format('woff');
}
