@media screen and (max-width: 1200px) {
	.footer-nav {
		margin: 10px 0px;
	}

	.footer-nav ul {
		justify-content: flex-start;
	}

	.footer-nav ul li a {
		margin-right: 30px;
	}
}

@media screen and (max-width: 1035px) {
	.span-col-2 {
		grid-column: span 4 / auto;
	}

	.medium-post {
		height: auto;
	}
}

@media screen and (max-width: 1018px) {
	.all-posts {
		justify-content: center;
	}

	.all-posts > .default-post {
		width: 45%;
	}
}

@media screen and (max-width: 935px) {
	.posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}

	.little-post,
	.default-post {
		width: 48%;
	}

	.medium-post {
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 853px) {
	.main-header nav {
		margin: 10px 0;
	}

	.main-header nav ul {
		justify-content: flex-start;
		gap: 20px;
	}
}

@media screen and (max-width: 768px) {
	.gallery .photo-container {
		width: 100%;
	}

	.sounds {
		justify-content: center;
	}

	.sounds .sound-container {
		margin: 0 0 30px 0;
	}

	.spost {
		padding: 20px 0;
	}
}

@media screen and (max-width: 576px) {
	.medium-post__img {
		width: 100px;
	}
}

@media screen and (max-width: 519px) {
	.little-post,
	.default-post,
	.all-posts > .default-post {
		width: 100%;
	}

	.little-post__title,
	.default-post__title {
		font-size: 16px;
	}

	.default-post::before {
		display: none;
	}

	.default-post::after {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.medium-post__title {
		font-size: 16px;
	}
}

@media screen and (max-width: 450px) {
	.main-header nav ul li {
		margin-right: 10px;
	}

	.spost-content iframe,
	.spost-content video {
		min-height: 300px;
	}
}

@media screen and (max-width: 380px) {
	.main-header .logo a {
		font-size: 18px;
	}

	.medium-post__img {
		width: 70px;
	}
}

@media screen and (max-width: 370px) {
	.big-post {
		padding: 15px;
	}
}
