html {
	overflow-y: scroll;
	scrollbar-color: transperant;
	scrollbar-width: thin;
}

html::-webkit-scrollbar {
	width: 6px;
	background-color: transperant;
}

html::-webkit-scrollbar-thumb {
	background-color: #b1b1b1;
}

::placeholder {
	color: var(--main-text);
}

::selection {
	background-color: var(--accent-color);
	color: #fff;
}

body {
	font-size: 16px;
	font-weight: 400;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
	color: var(--main-text);
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

body input,
body textarea {
	border: var(--main-text) 1px solid;
	outline: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border-color: red;
}

body input:required:valid,
body textarea:required:valid {
	border-color: green;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.img-responsive.img-width {
	width: 100%;
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

main {
	margin: 20px 0 50px 0;
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.posts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.span-col-2 {
	grid-column: span 2 / auto;
}

.span-row-2 {
	grid-row: span 2 / auto;
}

.all-posts {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.all-posts > .default-post {
	width: 49%;
	margin-bottom: 20px;
	margin-right: 10px;
	padding-right: 10px;
}

.around {
	justify-content: space-around;
}

.full-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.main-header {
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0;
}

.main-header .logo {
	display: flex;
	align-items: center;
	color: var(--main-text);
	font-size: 25px;
}

.main-header .logo img {
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

.main-header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.main-header nav ul li a {
	color: var(--main-text);
	text-decoration: none;
	transition: var(--transition);
}

.main-header nav ul li a:hover {
	color: var(--accent-color);
	text-decoration: none;
}

.big-post {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
	color: #ffffff;
	height: 400px;
	padding: 40px;
}

.big-post__link {
	color: #ffffff;
	text-decoration: none;
}

.big-post__link:hover {
	text-decoration: underline;
}

.big-post__title {
	font-size: 24px;
	margin: 0 0 20px 0;
}

.big-post__description {
	margin: 0;
	font-weight: 300;
}

.little-post {
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	transition: all 0.3s ease;
}

.little-post__link {
	color: #000000;
	text-decoration: none;
}

.little-post__link:hover {
	text-decoration: underline;
}

.little-post__title {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
}

.little-post:hover a {
	color: #ffffff;
}

.medium-post {
	height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.medium-post__link {
	color: #000000;
	text-decoration: none;
}

.medium-post__link:hover {
	text-decoration: underline;
}

.medium-post__img {
	height: 100%;
	width: 150px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	object-fit: cover;
}

.medium-post__text {
	padding: 20px;
}

.medium-post__title {
	font-size: 18px;
	line-height: 30px;
	margin: 0 0 10px 0;
}

.medium-post__description {
	font-size: 14px;
	font-weight: 300;
	margin: 0;
}

.default-post {
	position: relative;
	display: flex;
	flex-direction: column;
}

.default-post__link {
	color: #000000;
	text-decoration: none;
}

.default-post__link:hover {
	text-decoration: underline;
}

.default-post::before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 95%;
	background-color: #000000;
	top: 0;
	right: -1px;
}

.default-post::after {
	content: '';
	display: block;
	position: absolute;
	width: 95%;
	height: 1px;
	background-color: #000000;
	bottom: -9px;
	left: 0;
}

.default-post__title {
	font-size: 18px;
	text-align-last: left;
	line-height: 26px;
	margin: 0 0 10px 0;
}

.default-post__description {
	font-size: 14px;
	font-weight: 300;
	margin: 0;
}

footer {
	padding: 30px 0;
	border-top: 1px solid #d6d6d6;
}

.social-links {
	display: flex;
}

.social-link,
.top-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #dddddd;
	width: 35px;
	height: 35px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	font-size: 22px;
	text-decoration: none;
	margin-right: 10px;
	transition: var(--transition);
}

.social-link:last-child,
.top-btn:last-child {
	margin-right: 0;
}

.social-link:hover,
.top-btn:hover {
	color: #ffffff;
	text-decoration: none;
}

.telegram {
	background-color: #249bd7;
}

.telegram:hover {
	background-color: #4dafe1;
}

.instagram {
	background-color: #fcd000;
}

.instagram:hover {
	background-color: #ffdb30;
}

.youtube {
	background-color: #ff0000;
}

.youtube:hover {
	background-color: #ff3333;
}

.top-btn {
	cursor: pointer;
	background-color: #dddddd;
}

.top-btn:hover {
	background-color: #eaeaea;
}

.all-posts__btn {
	display: inline-block;
	margin-top: 40px;
	padding: 10px;
	border: 4px solid #e5fffc;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	color: #000000;
	text-decoration: none;
	transition: var(--transition);
}

.all-posts__btn:hover {
	border: 4px solid var(--accent-color);
}

.footer-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.footer-nav ul li a {
	margin-right: 50px;
	color: var(--main-text);
	text-decoration: none;
	transition: var(--transition);
}

.footer-nav ul li a:hover {
	color: var(--accent-color);
	text-decoration: none;
}

.not-found {
	height: 93.4vh;
	background-image: url('/assets/img/404/1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-found-text {
	margin: 0;
	padding: 0;
	font-size: 180px;
	color: #fff;
	letter-spacing: 40px;
}
