{% include /head.html %}

{% include /header.html %}

<main>
	<div class="container">
		<div class="row">
				
				<article class="spost">
					<header class="spost-header">
						<h1 class="spost-header-title">{{ page.title }}</h1>
						<div class="spost-header-meta">
							<div class="spost-header-meta-date">{% include date.html date=page.date %}</div>
						</div>
					</header>
					<main class="spost-content">
						{{ content }}
					</main>
				</article>

		</div>
	</div>
</main>

{% include /footer.html %}