{% include /head.html %}

{% include /header.html %}

<main>
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<div class="mt-5">
					{% include /search-form.html %}
				</div>

				<ul class="search-results" id="search-results"></ul>

				<script>
					window.store = {
						{% for post in site.posts %}
							"{{ post.url | slugify }}": {
								"title": "{{ post.title | xml_escape }}",
								"author": "{{ post.author | xml_escape }}",
								"category": "{{ post.category | xml_escape }}",
								"content": {{ post.content | strip_html | strip_newlines | jsonify }},
								"url": "{{ post.url | xml_escape }}"
							}
							{% unless forloop.last %},{% endunless %}
						{% endfor %}
					};
				</script>

			</div>
		</div>
	</div>
</main>

{% include /footer.html %}